.hidden {
  display: none;
}

.section-popup {
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.40);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter,sans-serif;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup {
  position: relative;
  width: 65%;
  padding: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  border-radius: 30px;
  background: #F0F2E6;
}

.popup__title {
  color: #000;
  font-size: 30px;
  text-decoration-line: underline;
  margin: auto;
}

.popup__title:nth-child(2) {
  font-size: 40px;
  margin-top: 10px;
  text-decoration: none;
}

.list {
  margin-top:30px;
  background: rgba(48, 87, 68, 0.07);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__elemPopup {
  width: 100%;
  background: rgba(48, 87, 68, 0.21);
  text-align: center;
  font-size: 20px;
}

.list__elemPopup_history {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.list__elemPopup_workers {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.list__subElem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__subElemText {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}

.popup__button {
  margin: 40px auto auto;
  width: 50%;
  border: 5px solid #CACACB;
}

.popup__buttonText {
  color: #151B21;
  font-size: 20px;
}

.popup__close {
  position: absolute;
  top:20px;
  right:20px;
  width:30px;
  height:30px;
  box-sizing: border-box;
  display: flex;
}

.popup__close:hover {
  cursor: pointer;
}

.popup__closeImg {
  width: inherit;
  height: inherit;
}

.list__elemPopupTask {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
}

.list__textArea {
  height:150px;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size:25px;
}

.list__textAreaButton {
  align-self: center;
  justify-self: center;
  height:75px;
  width: 75%;
}

.list__textAreaButton:hover {
  cursor: pointer;
}

.list__buttonPopup:hover {
  cursor: pointer;
}
